<div class="col-md-12">
	<h1><%=t("text-site.home.welcome")%></h1>
	<ul>
		<li><%= link_to 'English', root_path(:locale => 'en')%></li>
        <li><%= link_to 'Português Brasileiro', root_path(:locale => 'pt-BR')%></li>
	</ul></p>
	<p><%=t("text-site.home.date")%>: <%= l(Date.today) %></p>

	<p><%=t("text-site.home.env")%>:  <strong><%= env_rails %> </p>
</div>