

<div class="col-md-12">

	<div class="jumbotron">
	  <h1 class="display-4"><%=t("text-site.home.welcome")%></h1>
	  <hr class="my-4">
	  	<p><%=t("text-site.home.date")%>: <%= l(Date.today) %></p>

		<p><%=t("text-site.home.env")%>:  <strong><%= env_rails %>
			<br>
		<%= link_to Coin.model_name.human, coins_path, class: 'btn btn-primary'%>
		<%= link_to MiningType.model_name.human, mining_types_path, class: 'btn btn-primary'%>
	</div>
	
</div>