
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="<%= root_path %>">
      <%= image_tag "logo.png", width: 100 %></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><%= link_to t('text-site.menu.home'), root_path %></li>
        <li><%= link_to t('text-site.menu.coin'), coins_path %></li>
        <li><%= link_to t('text-site.menu.mining-type'), mining_types_path %></li>
      </ul>
    </div>
  </div>
</nav>

