<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">
    <%= link_to image_tag("logo.png", width: 100), root_path %>
  </a>
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to t('text-site.menu.home'), root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to t('text-site.menu.coin'), coins_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to t('text-site.menu.mining-type'), mining_types_path, class: 'nav-link' %>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'English', url_for(:locale => 'en'), class: 'nav-link'%>
      </li>

      <li class="nav-item">
        <%=link_to 'Português Brasileiro', url_for(:locale => 'pt-BR'), class: 'nav-link'%>
      </li>
    </ul>
  </div> 
</nav>